@import 'Variables';

@mixin reverse-colors {
    background-color: $color1;
    color: $color2;
}

@each $depth in $menu-depth {
    .fixedsidemenu__menu__link__item--depth#{$depth} {
        padding-left: ($depth + 1em) / 1.5;
    }

    .fixedsidemenu__menu__link__item--depth#{$depth} {
        background-color: darken($color2, ($depth * 10));
    }
}

.fixedsidemenu__button__wrap {
    background-color: $color2;
    border-color: $color1;
    border-radius: 0.5em;
    border-style: solid;
    border-width: 0.0625em;
    box-shadow: 0.25em 0.25em 0.5em 0 opacify($color1, 0.75);
    color: $color1;
    cursor: pointer;
    display: none;
    font-size: 1em;
    font-weight: 900;
    padding: 0.5em 0.75em;
    position: fixed;
    top: 1em;
    user-select: none;
}

.fixedsidemenu__button__wrap--show {
    display: block;
}

.fixedsidemenu__button__wrap--left {
    left: 1em;
}

.fixedsidemenu__button__wrap--right {
    right: 1em;
}

.fixedsidemenu__menu__wrap {
    background-color: $color2;
    border-right-color: $color1;
    border-right-style: solid;
    border-right-width: .0625em;
    box-shadow: 0.25em 0.25em 0.5em 0 opacify($color1, 0.75);
    display: none;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 70%;
    z-index: 10;
}

.fixedsidemenu__menu__wrap--right {
    right: 0;
}

.fixedsidemenu__menu__wrap--left {
    left: 0;
}

.fixedsidemenu__menu__link__item {
    border-bottom-style: solid;
    border-bottom-width: .0625em;
    color: $color1;
    display: block;
    font-weight: 900;
    line-height: 140%;
    padding-bottom: .5em;
    padding-right: 2em;
    padding-top: .5em;
    position: relative;
    text-decoration: none;

    &:hover {
        @include reverse-colors;

        .fixedsidemenu__menu__link__external {
            background-color: $color2;

            &::after {
                border-color: $color2;
            }

            &::before {
                border-color: $color2;
            }
        }
    }
}

.fixedsidemenu__menu__link__openchild {
    background-color: $color2;
    border-style: solid;
    border-width: .0625em;
    font-family: monospace;
    font-size: 1.5em;
    font-weight: 900;
    height: 1.25em;
    line-height: 125%;
    position: absolute;
    right: .25em;
    text-align: center;
    top: .25em;
    width: 1.25em;
}

.fixedsidemenu__menu__wrap--clicked {
    display: block;
}

.fixedsidemenu__menu__link__wrap {
    display: none;
    position: relative;
}

.fixedsidemenu__menu__link__wrap--show {
    display: block;
}

.fixedsidemenu__menu__link__wrap--open {
    display: block;
}

.fixedsidemenu__menu__link__item--current {
    @include reverse-colors;
}

.fixedsidemenu__menu__link__item--active {
    &:hover {
        &::after {
            background: $color2;
        }
    }

    &::after {
        background-color: $color1;
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        top: 0;
        width: 0.25em;
    }
}

.fixedsidemenu__menu__link__openchild__element {
    &::after,
    &::before {
        background-color: $color1;
        content: '';
        position: absolute;
    }

    &::after {
        height: 0.2em;
        left: 0.2em;
        margin-top: -0.1em;
        right: 0.2em;
        top: 50%;
    }

    &::before {
        bottom: 0.2em;
        left: 50%;
        margin-left: -0.1em;
        top: 0.2em;
        width: 0.2em;
    }
}

.fixedsidemenu__menu__link__openchild__element--close {
    &::before {
        content: initial;
    }
}

.fixedsidemenu__menu__link__external {
    background-color: $color1;
    color: $color1;
    display: inline-block;
    float: none;
    font-size: 90%;
    height: 0.125em;
    margin: 0.625em 1em 0.25em 0;
    padding: 0;
    position: relative;
    transform: rotate(-45deg);
    width: 0.4375em;

    &::before {
        background-color: initial;
        border: solid 0.0625em $color1;
        border-radius: 0.125em;
        bottom: initial;
        content: '';
        height: 0.3125em;
        left: -0.4375em;
        margin: 0;
        padding: 0;
        position: absolute;
        right: initial;
        top: -0.1875em;
        width: 0.5em;
    }

    &::after {
        background-color: initial;
        border: solid 0.0625em $color1;
        border-radius: 0.125em;
        bottom: initial;
        content: '';
        height: 0.3125em;
        margin: 0;
        padding: 0;
        position: absolute;
        right: -0.4375em;
        top: -0.1875em;
        width: 0.5em;
    }
}
